#holder{
		max-height: 400px;
		min-height: 200px;
		max-width: 	500px; 
		min-width: 	200px;
		margin: auto;
		font-family: century gothic;
		background-color: #87CEEB;
		padding: 20px;
		border: 1px solid black;
		border-top-left-radius: 20pt;
		border-bottom-right-radius: 20pt;
	}
	#but{
		float: center;
		margin: auto;
		width: 100px;
		height: 75px;
		font-size:20px;
		border-radius:5pt; 
		background-color: #1E90FF;
	}
	th{
		text-align: center;
		font-family: century gothic;
	}
	td{
		text-align: center;
	}
	#holderComp{
		font-family: century gothic;
		margin: auto;
		max-height: 900px;
		min-height: 700px;
		max-width: 	900px; 
		min-width: 	600px;
	}